@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
	padding-top: 70px; /* Ajuste conforme a altura do seu cabeçalho */
}

.main-table {
    width: 100%;
    border-collapse: collapse;
    max-width: 100%;
    margin: 0 auto; 
    overflow-x: hidden;
    table-layout: fixed
}

/* Estilo do Cabeçalho */
.header {
    background-color: #0E5935;
    padding: 10px 0;
    width: 100%;
	position: fixed; /* Torna o cabeçalho fixo no topo */
    top: 0; /* Posiciona-o no topo da tela */
    z-index: 1000; /* Garante que ele fique acima do conteúdo da página */
}

.header-content {
    display: flex;
    justify-content: space-between; /* Logo à esquerda, menu à direita */
    align-items: center;
    max-width: 1200px; /* Limita a largura máxima do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
}

/* Logo */
.logo {
    max-height: 85px;
    width: auto;
}

/* Menu */
.menu ul {
    list-style-type: none;
    display: flex;
    gap: 2px; /* Espaçamento entre os itens */
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #FFFCE2; /* Cor do texto */
    font-weight: bold;
    font-size: 25px;
    padding: 8px 20px; /* Ajuste para aumentar a área dos links */
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu a:hover,
.menu a.active { /* Estilo para hover e página ativa */
    background-color: #B7CB9E;
    color: #0E5935; /* Verde escuro */
}


/* Estilos para a página de contato */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-container {
    background-color: #DEE5C3;
    padding: 20px 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
	margin-left: 350px;
	margin-top: 30px;
}

.contact-container h2 {
    text-align: center;
    color: #0E5935;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #0E5935;
    font-weight: 600;
	font-size: 25px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #FFFCE2;
    border-radius: 5px;
    font-size: 16px;
    background-color: #FFFCE2;
}

input:focus, textarea:focus {
    border-color: #0E5935;
    outline: none;
}

button {
	display: inline-block;
    padding: 10px 30px;
    border: 2px solid #0E5935;
    border-radius: 20px 0 20px 0; 
    background-color: #FFFCE2; 
    text-align: center;
    margin-top: 20px;
	text-decoration: none;
    color: #0E5935; 
    font-size: 22px; 
    font-weight: bold; 
    font-family: Montserrat, sans-serif; 
	width: 300px;
	margin-left: 220px;
}

button:hover {
    background-color: #DEE5C3;
}

footer {
    background-color: #B7CB9E; 
    padding:7px;
    text-align: center;
	margin-top: 65px;
}

.footer-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.footer-image {
    width: 700px;
    height: auto; 
    margin-bottom: 10px; 
}

.footer-text {
    color: #0E5935; 
}