@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
	padding-top: 70px; /* Ajuste conforme a altura do seu cabeçalho */
}

.main-table {
    width: 100%;
    border-collapse: collapse;
    max-width: 100%;
    margin: 0 auto; 
    overflow-x: hidden;
    table-layout: fixed
}

/* Estilo do Cabeçalho */
.header {
    background-color: #0E5935;
    padding: 10px 0;
    width: 100%;
	position: fixed; /* Torna o cabeçalho fixo no topo */
    top: 0; /* Posiciona-o no topo da tela */
    z-index: 1000; /* Garante que ele fique acima do conteúdo da página */
}

.header-content {
    display: flex;
    justify-content: space-between; /* Logo à esquerda, menu à direita */
    align-items: center;
    max-width: 1200px; /* Limita a largura máxima do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
}

/* Logo */
.logo {
    max-height: 85px;
    width: auto;
}

/* Menu */
.menu ul {
    list-style-type: none;
    display: flex;
    gap: 2px; /* Espaçamento entre os itens */
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #FFFCE2; /* Cor do texto */
    font-weight: bold;
    font-size: 25px;
    padding: 8px 20px; /* Ajuste para aumentar a área dos links */
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu a:hover,
.menu a.active { /* Estilo para hover e página ativa */
    background-color: #B7CB9E;
    color: #0E5935; /* Verde escuro */
}

.imagem-largura-total {
	margin-top: 20px;
    width: 100%;
    height: auto;	
    display: block;
}

.texto-lado-direito h2, .texto-lado-esquerdo h2 {
    color: #0E5935;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.texto-lado-direito p, .texto-lado-esquerdo p {
    font-size: 20px;
    line-height: 1.6;
    color: #000000;
    text-align: left;
}


.quadrado-verde {
    background-color: #DEE5C3;
    padding: 30px;		
}

.stats-table {
    width: 100%;
    table-layout: auto; 
    word-wrap: break-word; 
}

.responsive-img {
    max-width: 90%;
    height: auto;
}

.item {
    text-align: center;
    padding: 20px;
    max-width: 100%;
    height: auto;
}

.item h3 {
    color: #0E5935;
    font-size: 24px;
}

.elemento {
  padding-top: 10px;    
  padding-right: 15px;  
  padding-bottom: 10px; 
  padding-left: 15px;  
  margin-left: 2px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh; 
}

.botao-portfolio {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #0E5935;
    border-radius: 20px 0 20px 0; 
    background-color: #FFFCE2; 
    text-align: center;
    margin-top: 20px;
}

.botao-portfolio a {
    text-decoration: none;
    color: #0E5935; 
    font-size: 32px; 
    font-weight: bold; 
    font-family: Montserrat, sans-serif; 
}

.botao-portfolio:hover {
    background-color: #B7CB9E; 
}

footer {
    background-color: #B7CB9E; 
    padding:7px;
    text-align: center;
}

.footer-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.footer-image {
    width: 700px;
    height: auto; 
    margin-bottom: 10px; 
}

.footer-text {
    color: #0E5935; 
}

/* Celulares */
@media only screen and (max-width: 450px) {
	.logo {
    max-height: 150px;
    width: 120px;
}

.menu ul {
		gap: 10px; /* Espaçamento maior entre os itens no modo vertical */
	}
	
.header-content {
		align-items: center;
		text-align: center;
	}
	
.menu a {
		font-size: 18px;
		padding: 5px 10px;
	}
	
.imagem-largura-total {
	margin-top: 50px;
	widhth:70px;
    max-width: 800px;
}
